.box{
    background-color: rgb(26, 96, 117);
    margin: 100px 50px 0px 50px;
    height: 500px;
    width: 1440;
}
h1{
    background-color: #410303;
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 15px;
    color: aliceblue;
    font-weight: bold;
}
.item0{
    border: 5px solid red;
    background-color: black;
    height: 350px;
    margin: 35px 20px;
}
.item1{
    
    background-color: aqua;
    text-align: center;
    height: 160px;
    margin: 10px 20px auto;
    font-size: 25px;
}
.item2{
    
    background-color: aqua;
    text-align: center;
    margin: 10px 20px auto;
    height: 160px;
    font-size: 25px;
}

